.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  height: 4rem;
  display: flex;
  background-color: transparent;
  // border: 1px solid transparent;
  transition: padding-top 0.4s ease, background-color 0.4s ease;

  @include media-breakpoint-up(lg) {
    height: 6rem;
    padding-block: 1rem;
  }

  &[data-menu-active="true"] {
    &.scrolled{
      background-color: transparent;
      transition: none;
    }

  }

  &.scrolled{
    background-color: #f5fbfd;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  .leftWrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      cursor: pointer;
      text-decoration: none;
      color: $black;
      transition: color 0.2s ease;
      font-size: 1.2rem;
      font-weight: 600;
      text-wrap: nowrap;

      &:hover {
        color: $blue;
        transition: color 0.2s ease;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }
  }

  .centerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2px;

    .logo {
      width: 33px;
      height: auto;
      display: block;
      margin: 0 4px;
      flex-grow: 0;
      flex-shrink: 0;

      @media (min-width: 380px){
        width: 36px;
        margin: 0 5px;
      }

      @include media-breakpoint-up(lg) {
        width: 50px;
      }

      &.ipfs{
        width: 28px;

        @media (min-width: 380px){
          width: 31px;
        }

        @include media-breakpoint-up(lg) {
          width: 45px;
        }
      }
    }
  }

  .rightWrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.mainMenu {
  &.desktop {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      background: transparent;
    }
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 0;
      padding-right: 1.5rem;
      display: block;

      @include media-breakpoint-up(lg) {
        display: inline-block;
      }

      a {
        //font-family: $sfProDisplay;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: $black;
        transition: color 0.2s ease;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 80%;
          height: 2px;
          background-color: transparent;
          transition: background-color 0.4s ease;
        }

        &:hover{
          color: $blue;

          &::after {
            background-color: $dkBlue;
          }
        }

        &.active {
          &::after {
            background-color: $dkBlue;
          }
        }
      }
    }

    li:last-child {
      padding-right: 0;
    }
  }
}

.mainMenu.device {
  position: fixed;
  top: 0;
  right: -120%;
  right: -120vw;
  width: 330px;
  height: 100%;
  margin-left: 0;
  padding: 0;
  text-align: left;
  background: $white;
  transition: right 0.5s ease;
  z-index: 998;
  box-shadow: 1px 2px 3px hsl(0deg 0% 0% / 0.5);

  &.menuActive {
    right: 0;
    display: grid;
    grid-template-rows: 4rem auto;
    
    > *:first-child {
      right: 0.7rem;
    }

    li a::after {
      display: none;
    }

    li:hover,
    li:focus-within {
      cursor: pointer;
    }

    li:focus-within a {
      color: $blue;
      outline: none;
    }
 
    button {
      position: relative;
      width: 2rem;
      height: 2rem;
      border-radius: 4px;
      cursor: pointer;
      align-self: center;
      justify-self: end;
      transform: rotate(45deg);
      transition: color 0.2s ease;

      &:hover, &:active, &:focus {
        color: $blue;
        transition: color 0.2s ease;
      }

      &:before, &:after {
        position: absolute;
        width: 1.8rem;
        height: 0.2rem;
        transition: inherit;
        content: '';   
        border-radius: inherit; 
      }
 
      &:before {
        transform-origin: 100% 50%;
        background: currentcolor;
        transform: translate(-50%, -50%);
      }

      &:after {
        background: currentcolor;
        transform: translateX(-50%) translateY(-50%) rotate(90deg);        
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  ul {
    width: 100%;
    padding: 0;

    li {
      padding-left: 1rem;
      border-bottom: 1px solid $dkGrey;
      text-align: left;

      a {
        display: block;
        padding: 25px 0;
        font-size: 16px;
        font-weight: 500;
      }
    }

    li:hover, li:focus-within {
      cursor: pointer;
    }
  }
}

button.navbar-toggle {
  height: 100%;
  color: $black;
  transition: color 0.2s ease;

  &:hover > * {
    color: $blue;
    transition: color 0.2s ease;
  }

  .hamburger {
    width: 1.8rem;
    height: 0.2rem;
    border-radius: 4px;
    background: currentColor;
    position: relative;
    
    &:before, &:after {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      height: 99%; // small hack to fix Firefox bug
    }
  }
  
  .hamburger:before {
    background: currentColor;
    transform: translate(-50%, 240%);
  }

  .hamburger:after {
    transform: translate(-50%, -240%);
    background: currentColor;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}