.hero {
  position: relative;
  //min-height: 100vh;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 130px;
  padding-bottom: 13rem;
  padding-left: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(lg) {
    padding-top: 220px;
    padding-bottom: 220px;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
      font-size: 41px;
    }
  }

  > p {
    font-size: 0.8rem;
    font-weight: 400;

    a {
      color: $dkrBlue;
    }
  }

  .dataRow {
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;

    @include media-breakpoint-up(sm) {
      max-width: 500px;
    }

    .dataCol {
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
      }

      .innerWrapper {
        width: 185px;
        height: 185px;

        @include media-breakpoint-up(sm) {
          width: 220px;
          height: 220px;
        }

        .box {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 1rem 0.5rem;
          border-radius: 30px;
          display: grid;
          grid-template-rows: 2fr 1fr;

          @include media-breakpoint-up(sm) {
            padding: 25px;
          }

          .bgImage {
            background-image: url(/images/boxGradient.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            z-index: 2;
            box-shadow: 0px 31.5096px 58.6943px -25.3312px rgba(36, 135, 190, 0.7),
              62.4013px -43.2484px 90.8217px -40px rgba(151, 226, 134, 0.5);
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 0px 11.121px rgba($white, 0.82);
            border-radius: 30px;
            z-index: 3;
          }

          &::after {
            content: "";
            position: absolute;
            top: 3px;
            left: 4px;
            width: 100%;
            height: 103%;
            z-index: 1;
            background-image: url(/images/boxGradientBehind.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 30px;

            @include media-breakpoint-up(sm) {
              top: 9px;
              width: 100%;
              height: 100%;
            }
          }

          .textWrapper {
            text-align: center;
            position: relative;
            z-index: 4;

            p {
              margin-bottom: 0;
              color: $white;
              font-size: 1rem;
              line-height: 1.5rem;
              text-shadow: 0px 4px 4px rgba($black, 0.7);
              font-weight: 500;

              br {
                display: none;
              }

              @include media-breakpoint-up(sm) {
                font-size: 14px;
                line-height: 17px;

                br {
                  display: block;
                }
              }

              strong {
                display: block;
                font-size: 2.5rem;
                line-height: 1.2em;
                font-weight: 500;

                @include media-breakpoint-up(sm) {
                  line-height: 59px;
                }
              }
            }
          }
        }
      }
    }
  }
}
