.results {
  position: relative;
  margin-top: 0;
  padding-top: 2rem;
  min-height: 0;

  @include media-breakpoint-up(sm) {
    margin-top: 4rem;
    padding-top: 0;
  }

  &.active {
    margin-bottom: 0px;
    padding-bottom: 50px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 50px;
    }
  }

  .errorNotice {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #979797;
  }

  .lookupBg {
    top: 0;
    max-height: 150%;
    min-height: 100%;
    bottom: auto;
    overflow: visible;

    @include media-breakpoint-up(sm) {
      top: -150px;
    }
  }

  .formRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .selectInputWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: inherit;
    }

    .inputWrapper {
      position: relative;
      width: 100%;
      height: 100%;
      min-width: 160px;
      margin-left: -1px;
      margin-right: 0px;

      @include media-breakpoint-up(lg) {
        margin-right: 20px;
      }

      input {
        width: 99.8%;
        padding: 8px;
        background: $white;
        border: 2px solid $dkGrey;
        border-radius: 9.08778px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        position: relative;
        z-index: 3;

        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
          color: $ltGrey;
        }

        transition: border-color 0.4s ease;

        &:focus,
        &:focus-within {
          border-color: $mdBlue;
          outline: none;
        }
      }
    }

    .btn {
      width: 100%;
      text-transform: uppercase;
      font-size: 18px;

      -webkit-font-smoothing: antialiased;

      @include media-breakpoint-up(md) {
        width: 154px;
      }
    }
  }

  div.selectWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    width: calc(100% - 178px);
    max-width: 200px;
    min-width: 160px;

    @include media-breakpoint-up(sm) {
      max-width: inherit;
      width: auto;
    }

    div.selectContainer {
      width: 100%;
      padding: 2px;
      position: relative;
      background: $mdBlue;
      color: $white;
      border-top-left-radius: 9.08778px;
      border-bottom-left-radius: 9.08778px;

      @include media-breakpoint-up(sm) {
        width: 235px;
      }
    }

    button {
      color: inherit;
      background: inherit;
      border: 2px solid transparent;
      border-radius: 8px;
      width: 100%;
      padding: 6px 16px 6px 8px;
      position: relative;
      text-align: center;
      z-index: 2;
      transition: border-color 0.4s ease;
    }

    button:hover {
      cursor: pointer;
    }

    button::after {
      content: '';
      position: absolute;
      right: 16px;
      top: 50%;
      width: 0;
      height: 0;
      transform: translateY(-50%);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 8px solid white;
      transition: transform 0.4s ease;
    }

    button.expanded::after {
      transform: translateY(-50%) rotate(-90deg);
    }

    ul.options {
      color: $black;
      position: absolute;
      top: 102%;
      left: 0px;
      width: 100%;
      padding: 0;
      background-color: $white;
      display: none;
      list-style: none;
      text-align: center;
      z-index: 5;
      transition: background-color 0.4s ease;
      box-shadow: 1px 2px 3px hsl(0deg 0% 0% / 0.3);
    }

    ul.show {
      display: block;
    }

    ul.options li {
      padding: 0.6rem;
    }

    ul.options li:active,
    ul.options li:focus,
    ul.options li:hover {
      background: lighten($blue, 20%);
      cursor: pointer;
    }

    ul.options li[aria-selected='true'] {
      background: $mdBlue;
      cursor: pointer;
      color: $white;
    }
  }

  // Accoridons

  .accordionWrapper {
    margin-top: 4rem;

    .accordion-item {
      background-color: transparent !important;
      border: 0 !important;
      padding-bottom: 28px;
    }

    .accordion-header {
      opacity: 0;
      transition: opacity 1s ease-out;

      &.show {
        opacity: 1;
        transition: opacity 1s ease-out;
      }
    }

    .accordion-button {
      box-shadow: none !important;
      border: 0 !important;
      height: 55px;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1em;
      color: $black;
      transition: transform 0.3s ease-in;
      cursor: pointer;

      @include media-breakpoint-up(sm) {
        height: 100px;
      }

      &::after {
        cursor: pointer;
        width: 20px;
        height: 12px;
        background-size: 20px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform-origin: 50% 9px;
        transform: translateY(-50%);
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 13L13 2L2 13' stroke='currentcolor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        transition: transform 0.3s ease-in;
      }

      &:not(.collapsed) {
        //background-color: $dkGrey !important;
        &::after {
          transform: translateY(-90%) rotate(-180deg);
          background-size: 20px;
          background-position: 55% 0%;
          transition: transform 0.3s ease-in;
        }
      }
    }
    .accordion-collapse {
      overflow: hidden;
      height: 0;
      padding: 0;
      opacity: 0;
      transition: opacity 1s ease-out;

      &.show {
        height: auto;
        opacity: 1;
      }

      .resultWrapper {
        padding: 2rem;
        background: linear-gradient(
          to right,
          rgba(106, 188, 254, 0.2) 0%,
          rgba(148, 229, 126, 0.2) 100%
        );
      }

      .resultWrapper.collapsed {
        overflow: hidden;
        height: 0;
        padding: 0;
        opacity: 0;
        transition: opacity 1s ease;
      }

      .resultItem.glossary {
        padding: 2rem;
        background-color: $dkGrey;
        border-radius: 0;
      }

      .resultItem {
        margin: 0 auto;
        border-radius: 9px;
        padding: 22px;
        background-color: darken($white, 2%);
        margin-bottom: 1rem;

        h4 {
          margin-bottom: 20px;
          font-size: 16px;
          font-weight: 600;
          color: $dkrBlue;
          text-transform: uppercase;
        }

        dl {
          margin-bottom: 0;
          text-align: left;

          dt {
            color: $blue;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 5px;
          }
          dd {
            color: $black;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 20px;
            white-space: pre-wrap;
            word-break: break-word;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .resultItem:last-child {
        margin-bottom: 0;
      }
    }
  }
}
