// Colors
$white:#fff;
$black:#2D2D2D;
$ltGrey:#F2F2F2;
$mdGrey:#DDDDDD;
$dkGrey: #D9D9D9;
$dkrBlue: #397CAD;
$dkBlue: #40A9FF;
$mdBlue: #58B5FE;
$blue: #6ABCFE;
$ltBlue: #65BFEC;

$green: #94E57E;

//Fonts//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$montserrat: 'Montserrat', sans-serif;